*{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0.03rem;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;  
}
.menuIcon{
    width: 2rem;
    height: 1rem;
}
article, header, footer{
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    z-index: 1;
    min-width: 375px;
}
article, .sec3{
    display: flex;
    flex-direction: column;
}
.Img{width: 100%; content: url("./images/image-hero-mobile.png");}
h1{
    margin: 2rem auto 0rem auto;
    font-size: 2.1rem;
    font-weight: 1000;
}
h3{
    text-align: center;
    margin: 0rem auto .5rem auto;
    padding: 1rem .5rem;
    width: 21rem;
    color: hsl(0, 0%, 41%);
}
.learMore{
    width: max-content;
    margin: auto;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    font-size: .95rem;
    font-weight: 600;
    padding: .7rem 1rem .7rem 1.5rem;
    border: none;
    border-radius: .7rem;
    border: solid .1rem hsl(0, 0%, 8%); 
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 2.5rem .75rem 3rem .75rem;
}
.databiz{
    width: 4.5rem;
    height: .8rem;
}
.audiophile{
    width: 3rem;
    height: 1.5rem;
    position: relative;
    transform: translatey(-.2rem);
}
.meet{
    width: 3.5rem;
    height: .8rem;
}
.maker{
    width: 3.5rem;
    height: .9rem;
}
/************************************** Nav styles*********************************/
.nav{
    position: absolute;
    max-width: 100%;
    min-width: 390px;
    height: 100%;
    margin: 0 110%;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    z-index: 10;
    transition: margin .75s;
}
.none{
    display: none;
}
.sec1{
    background-color: hsl(0, 0%, 8%);
    width: 13rem;
    height: 100%;
    opacity: 0.75;
}
.sec2{
    background-color: hsl(0, 0%, 98%);
    width:18.2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    color: hsl(0, 0%, 41%);
}
.close{
    width: 1.5rem;
    margin-left: 90%;
}
details, .options{
    margin: 1rem 0 0 0;
}
summary{
    list-style: none;
}
.arrow{
    margin-left: .75rem;
}
ul{
    margin: 0;
    list-style: none;
}
li{
    margin: 1rem 0 0 0;
}
.text{
    margin-left: .5rem;
}
.icon{
    width: 1.2rem;
    transform: translateY(.4rem);
}
.options{
    font-size: 16px;
    background-color: transparent;
    color: hsl(0, 0%, 41%);
}
.login{
    margin-top: 3rem;
    border: none;
}
.register{
    border-radius: .7rem;
    padding: .4rem 1rem;
    border: hsl(0, 0%, 41%) solid 0.15rem;
}
summary:hover, .options:hover{color: hsl(0, 0%, 0%);}
.register:hover{border: hsl(0, 0%, 0%) solid 0.15rem;}
.learMore:hover{
    background-color: hsl(0, 0%, 98%); 
    color: hsl(0, 0%, 8%); 
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); font-size: 11px; }




@media  (min-width: 590px) and (max-width: 929px) {
    .Img{
        width: 75%;
        margin: auto;
    }
    h1{
        margin: 3rem auto 0rem auto;
        font-size: 2.5rem;
    }
    h3{
        margin: 0rem auto 1.5rem auto;
        width: 22rem;
    }
    .footer{
        padding: 4.5rem .75rem 3rem .75rem;
        width: 25rem;
        margin: auto;
    }
    .sec1{
        
        width: 60vw;
    }
}



@media (min-width: 930px) and (max-width: 1099px) {
    article{
        flex-direction: row-reverse;
        margin-top: 4rem;
        justify-content: space-between;
    }
    .sec3{
        width: 35%;
        padding: 6.25% 6.25% 1.25% 5%;
        margin: 0 2.5% 0 0;
    }
    .Img{
        content: url("./images/image-hero-desktop.png");
        width: 35vw;
        height: 30rem;
        min-width: 25rem;
        margin-right: 1.5rem;
    }
    h1{
        font-size: 3.75rem;
        font-weight: 900;
        width: 22.7rem;
        text-align: left;
        padding: 0;
        margin: 0;
    }
    h3{
        text-align: left;
        margin: 2.5rem  0 0 0;
        width: 22rem;
        padding: 0;
        color: hsl(0, 0%, 41%);
    }
    .learMore{
        margin:  3rem 0;
    }
    .footer{
        width: 20rem;
        padding: 2.5rem .75rem 3rem .75rem;
    }
    .databiz{
        width: 5rem;
        height: .95rem;
    }
    .audiophile{
        width: 3.4rem;
        height: 1.75rem;
        position: relative;
        transform: translatey(-.2rem);
    }
    .meet{
        width: 3.9rem;
        height: .95rem;
    }
    .maker{
        width: 4.1rem;
        height: 1.1rem;
    }
    /************************************* nav styles ***************************************/
    .menuIcon, .close{
        display: none;
    }
    header{
        justify-content: flex-start;
    }
    .nav{
        position: static;
        margin: 0 0%;
    }
    .sec1{
    display: none;
    }
    .sec2{
        flex-direction: row;
        width: 90vw;
        padding: 0;
        margin: 0 2.5rem;
    }
    .details, .options{
        margin: 0 1rem;
    }
    summary, .opNav, .logo{
        margin-top: .6rem;
    }
    .arrow{margin: 0;}
    .details{
        position: relative;
    }
    .options{
        height: min-content;
    }
    .login{
        margin: .6rem 0 0 auto; 
    }
    .register{
        margin: 0 0 0 2rem;
    }
    ul{
        margin-top: 1rem;
        position: absolute;
        box-shadow: 5px 17px 29px 10px rgba(150, 150, 150, 0.25);
        width: max-content;
        padding: .5rem 1rem;
        border-radius: .75rem;
    }
    .Features{
        transform: translateX(-3rem);
    }
    .Company{
        transform: translateX(.5rem);
    }
    li{
        margin: 0.5rem;
    }
    li .text{
        letter-spacing: normal;
        font-size: .8rem;
    }
    .icon{
        width: .7rem;
        transform: translateY(.2rem);
    }
}



@media (min-width: 1100px) {
    article{
        flex-direction: row-reverse;
        margin-top: 3rem;
    }
    .sec3{
        width: 40%;
        padding: 6.25% 6.25% .25% 10%;
        margin: 0 2.5% 0 0;
    }
    .Img{
        content: url("./images/image-hero-desktop.png");
        width: 36vw;
        height: 20%;
        min-width: 25rem;
        margin-right: 5.5rem;
    }
    h1{
        font-size: 4.75rem;
        font-weight: 900;
        width: 28.5rem;
        text-align: left;
        padding: 0;
        margin: 0;
    }
    h3{
        text-align: left;
        margin: 2.5rem  0 0 0;
        width: 26rem;
        padding: 0;
        color: hsl(0, 0%, 41%);
    }
    .learMore{
        margin:  3rem 0;
    }
    .footer{
        width: 25rem;
        padding: 2.5rem .75rem 3rem .75rem;
    }
    .databiz{
        width: 5rem;
        height: .95rem;
    }
    .audiophile{
        width: 3.4rem;
        height: 1.75rem;
        position: relative;
        transform: translatey(-.2rem);
    }
    .meet{
        width: 3.9rem;
        height: .95rem;
    }
    .maker{
        width: 4.1rem;
        height: 1.1rem;
    }
    /************************************* nav styles ***************************************/
    .menuIcon, .close{
        display: none;
    }
    header{
        justify-content: flex-start;
    }
    .nav{
        position: static;
        margin: 0 0%;
    }
    .sec1{
    display: none;
    }
    .sec2{
        flex-direction: row;
        width: 90vw;
        padding: 0;
        margin: 0 2.5rem;
    }
    .details, .options{
        margin: 0 1rem;
    }
    summary, .opNav, .logo{
        margin-top: .6rem;
    }
    .arrow{margin: 0;}
    .details{
        position: relative;
    }
    .options{
        height: min-content;
    }
    .login{
        margin: .6rem 0 0 auto; 
    }
    .register{
        margin: 0 0 0 2rem;
    }
    ul{
        margin-top: 1rem;
        position: absolute;
        box-shadow: 5px 17px 29px 10px rgba(150, 150, 150, 0.25);
        width: max-content;
        padding: .5rem 1rem;
        border-radius: .75rem;
    }
    .Features{
        transform: translateX(-3rem);
    }
    .Company{
        transform: translateX(.5rem);
    }
    li{
        margin: 0.5rem;
    }
    li .text{
        letter-spacing: normal;
        font-size: .8rem;
    }
    .icon{
        width: .7rem;
        transform: translateY(.2rem);
    }
}